<section id="header" class="d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="row">
          <div
            class="col-md-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex justify-content-center flex-column"
          >
            <h1>
              I am a <strong class="brand-name">Developer</strong> This is my
              favorite work.
            </h1>
            <ul>
              <li>
                <h2 class="my-3">
                  We are the leading company in web devlopment.
                </h2>
              </li>
              <li>
                <h2 class="my-3">
                  Phone number :<strong>+91 9304249781</strong>
                </h2>
              </li>
              <li>
                <h2 class="my-3">
                  Email :<strong>Akashdeep9226@gmail.com</strong>
                </h2>
              </li>
              <li>
                <h2 class="my-3">
                  Address :<strong>Shahi majra, phase-5, SAS Nagar</strong>
                </h2>
              </li>
            </ul>

            <div class="my-3">
              <a
                routerLinkActive="active"
                routerLink="/contact"
                class="btn-get-started mr-3"
              >
                Contact
              </a>
              <a
                routerLinkActive="active"
                routerLink="/services"
                class="btn-get-started mr-3"
              >
                Our Services
              </a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-1 header-img">
            <img
              src="../../../assets/images/phone.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
