<div class="my-5">
  <h1 class="text-center">Our Services</h1>
</div>
<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="row gy-5">
        <div class="col-md-4 col-10 mx-auto">
          <div class="card">
            <img
              src="../../../assets/images/react.png"
              class="card-img-top"
              alt="{props.imgsrc}"
            />
            <div class="card-body">
              <h5 class="card-title font-weight-bold"></h5>

              <a to="/Contact" class="btn btn-outline-primary"> Hire me </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-10 mx-auto">
          <div class="card">
            <img
              src="../../../assets/images/js.png"
              class="card-img-top"
              alt="{props.imgsrc}"
            />
            <div class="card-body">
              <h5 class="card-title font-weight-bold"></h5>

              <a to="/Contact" class="btn btn-outline-primary"> Hire me </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-10 mx-auto">
          <div class="card">
            <img
              src="../../../assets/images/html.png"
              class="card-img-top"
              alt="{props.imgsrc}"
            />
            <div class="card-body">
              <h5 class="card-title font-weight-bold"></h5>

              <a to="/Contact" class="btn btn-outline-primary"> Hire me </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-10 mx-auto">
          <div class="card">
            <img
              src="../../../assets/images/css.png"
              class="card-img-top"
              alt="{props.imgsrc}"
            />
            <div class="card-body">
              <h5 class="card-title font-weight-bold"></h5>

              <a to="/Contact" class="btn btn-outline-primary"> Hire me </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-10 mx-auto">
          <div class="card">
            <img
              src="../../../assets/images/bootstrap.png"
              class="card-img-top"
              alt="{props.imgsrc}"
            />
            <div class="card-body">
              <h5 class="card-title font-weight-bold"></h5>

              <a to="/Contact" class="btn btn-outline-primary"> Hire me </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-10 mx-auto">
          <div class="card">
            <img
              src="../../../assets/images/php.png"
              class="card-img-top"
              alt="{props.imgsrc}"
            />
            <div class="card-body">
              <h5 class="card-title font-weight-bold"></h5>

              <a to="/Contact" class="btn btn-outline-primary"> Hire me </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-10 mx-auto">
          <div class="card">
            <img
              src="../../../assets/images/react.png"
              class="card-img-top"
              alt="{props.imgsrc}"
            />
            <div class="card-body">
              <h5 class="card-title font-weight-bold"></h5>

              <a to="/Contact" class="btn btn-outline-primary"> Hire me </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-10 mx-auto">
          <div class="card">
            <img
              src="../../../assets/images/"
              class="card-img-top"
              alt="{props.imgsrc}"
            />
            <div class="card-body">
              <h5 class="card-title font-weight-bold"></h5>

              <a to="/Contact" class="btn btn-outline-primary"> Hire me </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-10 mx-auto">
          <div class="card">
            <img
              src="../../../assets/images/react.png"
              class="card-img-top"
              alt="{props.imgsrc}"
            />
            <div class="card-body">
              <h5 class="card-title font-weight-bold"></h5>

              <a to="/Contact" class="btn btn-outline-primary"> Hire me </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
