<section id="header" class="d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="row">
          <div
            class="col-md-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex justify-content-center flex-column"
          >
            <h1>
              Hi, I am <strong class="brand-name">Akash</strong> This is my
              favorite work.
            </h1>
            <ul>
              <li>
                <h2 class="my-3">
                  We are the leading company in web devlopment.
                </h2>
              </li>
              <li>
                <h2 class="my-3">Graduate from :<strong>IGNOU</strong></h2>
              </li>
              <li>
                <h2 class="my-3">12th Standard :<strong>BSEB</strong></h2>
              </li>
              <li>
                <h2 class="my-3">Matriculation :<strong>PSEB</strong></h2>
              </li>
            </ul>

            <div class="my-3">
              <a to="{props.visit}" class="btn-get-started mr-3"> Hire me </a>
              <a to="/Services" class="btn-get-started mr-3"> Download CV </a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-1 header-img">
            <img
              src="../../../assets/images/lptp.png"
              class="img-fluid animated"
              alt="lptp"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
