<div class="my-5">
  <h1 class="text-center">Contact Us</h1>
  <div class="container container_div">
    <div class="row">
      <div class="col-md-6 col-10 mx-auto">
        <form>
          <div class="mb-3">
            <label class="form-label">Fullname</label>
            <input
              type="text"
              class="form-control"
              id="first-name"
              name="fullname"
              placeholder="Enter your name"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input
              type="number"
              class="form-control"
              id="phone"
              name="phone"
              placeholder="Enter phone number"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="enter@email.com"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Message</label>
            <textarea
              type="text"
              class="form-control"
              id="first-name"
              name="message"
              placeholder="Enter your message"
            >
            </textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-outline-primary">
              Submit form
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="my-5">
  <h1 class="text-center">Social</h1>
  <div class="container container_div">
    <div class="row">
      <div class="col-md-6 col-10 mx-auto">
        <a
          href="https://www.facebook.com/profile.php?id=100005780824109"
          activeclass="menu_active"
        >
          <img
            src="../../../assets/images/fb.png"
            class="social"
            alt="facebook"
          />
        </a>
        <a
          href="https://instagram.com/_sky_blue_x?igshid=921epqim9kum"
          activeclass="menu_active"
        >
          <img
            src="../../../assets/images/in.png"
            class="social"
            alt="instagram"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/akash-pandey-394b39188"
          activeclass="menu_active"
        >
          <img
            src="../../../assets/images/lk.png"
            class="social"
            alt="linkdin"
          />
        </a>
        <a activeclass="menu_active" routerLink="/about">
          <img
            src="../../../assets/images/wts.png"
            class="social"
            alt="whatsapp"
          />
        </a>
      </div>
    </div>
  </div>
</div>
